@inherits LayoutComponentBase

<header class="app-header">
    <a class="brand" href="/commandcenter">
        <span class="brand-mark">AE</span>
        <span>
            <strong>Argus Engine</strong>
            <small>Command Center</small>
        </span>
    </a>
    <NavStatusBar />
</header>

<main class="app-main">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">x</a>
</div>
