@using ArgusEngine.CommandCenter
@if (Value is { } v)
{
    <span title="@AppTimeFormat.Format(v)">@AppTimeFormat.Format(v)</span>
}
else
{
    <span class="muted">-</span>
}

@code {
    [Parameter] public DateTimeOffset? Value { get; set; }
}
